<div class="container">
    <ul>
        <li>
            <img src="..\assets\urban\church.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\emilBricks.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\handRing.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\lukasBook.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\openSign.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\roeBw.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\roeFloat.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\streetDark.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\urban\vickyForest.jpg" alt="" loading="lazy">
        </li>
        
        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
      </ul>
</div>

