<div class="container">
    <ul>
        <li>
            <img src="..\assets\portraits\emilFloat.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\emilCigarette.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\emilCigarette1.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\tuvaPaint.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\vickyCar.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\vickyTram.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\vickyForest.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\kovuPandemic.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\lukasSurprised.jpg" alt="" loading="lazy">
        </li>
        <!-- <li>
            <img src="..\assets\portraits\portrait_roe.jpg" alt="" loading="lazy">
        </li> -->
        <li>
            <img src="..\assets\portraits\lukasBricks1.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\lukasBricks2.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\lukasBricks3.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\portraits\lukasBlue.jpg" alt="" loading="lazy">
        </li>
        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
      </ul>
</div>
