<div class="container">
    <ul>
        <li>
            <img src="..\assets\fashion\emilOveralls.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\emilShirt.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\handRings.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\lukasCoat.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\lukasCoatClose.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\roeLazyTank.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\roeLeather.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\roeRetro1.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\fashion\roeRetro2.jpg" alt="" loading="lazy">
        </li>
        
        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
      </ul>
</div>

