/* BASIC */

.container {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 35vh;
  flex-grow: 1;
  margin: 0 1vh 0 1vh;
}

li:last-child {
  /* There's no science in using "10" here. In all my testing, this delivered the best results. */
  flex-grow: 10;
}

img {
  max-height: 90%;
  min-width: 90%;
  object-fit: cover;
  vertical-align: bottom;
}

/* ADVANCED */

/* Portrait */

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
    margin: 0 15vh 0 0;
  }
}

/* Short screens */

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }
  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
