<div class="container">
    <ul>
        <li>
          <img src="..\assets\images\v1.jpg" alt="" loading="lazy">
        </li>
        <!-- <li>
          <img src="..\assets\images\eh2.jpg" alt="" loading="lazy">
        </li>
        <li>
          <img src="..\assets\images\eh5.jpg" alt="" loading="lazy">
        </li>
        <li>
          <img src="..\assets\images\eh7.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\images\l1.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\images\r2.jpg" alt="" loading="lazy">
        </li> -->
        <li>
            <img src="..\assets\images\r7.jpg" alt="" loading="lazy">
        </li>
        <li>
            <img src="..\assets\images\r8.jpg" alt="" loading="lazy">
        </li>
        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
      </ul>
</div>
