/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Scrollbar Adjustments */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  /* No overlap between nav and main content */
  /* rem = unit relative to the font size on the root element */
  /* 5rem * 16px = 80px */
  margin-left: 5rem;
  padding: 1rem;
}
